<footer>
	<p>Page is 100% <b>HTML5</b>, <b>CSS3</b>, <b>JS</b>, <b>nodeJS</b> valid.</p>
	<div class="footer-buttons">
		<div class="footer-button1">
			<a href="/" title="NodeJS logo"></a>
		</div>
			<div class="footer-button2">
			<a href="/" title="SocketIO logo"></a>
		</div>
		<div class="footer-button3">
			<a href="/" title="JS logo"></a>
		</div>
		<div class="footer-button4">
			<a href="/" title="HTML5 logo"></a>
		</div>
		<div class="footer-button5">
			<a href="/" title="CSS3 logo"></a>
		</div>
	</div>
	<!-- <div class="clear"></div> -->
	<div class="payments">
		<div class="btc">
			<img src="../img/logos/btc_sm.png" alt="Bitcoin" title="Bitcoin" />
			<div class="btc_wallet">
				<input class="btc_address" value="1DpBxWvC6XDt9AhgTp98gU1ybo9dLmBFGB" title="BTC address" alt="BTC address" />
				<button class="copy_button btc_button" data-clipboard-target=".btc_address" title="Click to copy BTC address"></button>
			</div>
		</div>
		<div class="ltc">
			<img src="../img/logos/ltc_sm.png" alt="Litecoin" title="Litecoin" />
			<div class="ltc_wallet">
				<input class="ltc_address" value="LgSCUDi7ftqgA4LKXjCrfaAVDhhFwcKiFD" title="LTC address" alt="LTC address" />
				<button class="copy_button ltc_button" data-clipboard-target=".ltc_address" title="Click to copy LTC address"></button>
			</div>
		</div>
	</div>
	<div class="funding">
		<div class="patronite">
			<a href="https://patronite.pl" class="patronite_alink">Patronite</a>
		</div>
		<div class="kickstarter">
			<a href="https://www.kickstarter.com" class="kickstarter_alink">Kickstarter</a>
		</div>
		<div class="wspieramto">
			<a href="https://wspieram.to" class="wspieramto_alink">Wspieram to</a>
		</div>
		<div class="indiegogo">
			<a href="https://www.indiegogo.com" class="indiegogo_alink">Indiegogo</a>
		</div>
		<div class="crowdfunder">
			<a href="http://www.crowdfunder.co.uk" class="crowdfunder_alink">Crowdfunder</a>
		</div>
	</div>
	<p>Copyrights: B&B 2016-2017, <a href="/kontakt">kontakt</a>, <a href="/sitemap">mapa witryny</a>.</p>
</footer>