<header>
	<div class="header-wrapper">
		<div class="logo"><a href="/" title="SeoTester Logo"><img src="../img/error404.png" alt="SeoTester Logo" title="SeoTester Logo" /></a></div>
		<!-- dlatego, ze JS zczytuje img z CALEJ strony (a w stronie mamy zaladowana inna strone...), to te img ktore odnosza sie do SeoTester i nie maja pelnej nazwy hosta jak - src="../img/error404.png" chrzania dzialanie JS -->
		<div class="welcome"><span>Welcome to <strong>SeoTester</strong><span></div>
		<!-- there must be span here cause otherwise - 'Welcome to      <strong>SeoTester</strong>' SPACE (' ') is omitted -->
	</div>
</header>