<!DOCTYPE html>
<html>
<head>
	<title>Wczytajka - Seo</title>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<% include partials/menu.ejs %>
	<main>
	<div class="seo_errors">
	
		<% if (typeof errors == "undefined") { %>
		<% } else { %>
			<%- errors %>
		<% } %>

	</div>
	<div class="ip"><%- IP %></div>
	
	<div class="seo_info">
	- wpisz adres (usługa <b><i>www</i></b> jest opcjonalna):
	</div>

	<div class="form_seo_wrapper">
		<form action="/cel" method="post" accept-charset="utf-8" name="form_seo_name" id="form_seo_id" class="form_seo_class" autocomplete="off">
			<input type="text" name="form_seo_input_name" size="30" maxlength="500" id="form_seo_input_id" class="form_seo_input_class" placeholder="wpisz adres strony, np - google.pl" onkeyup="form_seo_error_check_onkeyup()" onclick="form_seo_error_check_onkeyup()" value="" /><!-- value="" - to prevent the browser from re-filling the form with the last values, we still immediately change this by our internal JS leater on -->
			<input type="submit" class="form_seo_submit_class" value="Hit ENTER or CLICK here" title="Wio!" onkeyup="form_seo_submit_hold()" onclick="form_seo_submit_hold()"/>
		</form>
	</div>
	
	<div class="wskazowki">
		<div class="wskazowka1"></div>
		<div class="wskazowka2"></div>
		<div class="wskazowka3"></div>
		<div class="wskazowka4"></div>
		<div class="button_blocker_info"></div>
	</div>

	<div class="seo_content"></div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	</main>
	<% include partials/footer.ejs %>

	<script type="text/javascript">
		<% include ../public/js/clipboard.min_v1.7.1.js %>
		<% include ../public/js/html2canvas.min_v0.5.0-beta4.js %>
		<% include ../public/js/socket.io.min_v2.1.1.js %>// bez tego komentarza wali error w consoli chroma = "DevTools failed to parse SourceMap: https://localhost:6500/socket.io.js.map" :)
		<% include ../public/js/jquery.min_v3.1.1.js %>
	</script>
</body>
</html>
